body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/mountains.jpg);
    background-size: no-repeat;
    background-size: cover;
}

header {
    background-color: #70bb1b;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.weather-container {
    background: #a86f6f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    margin-top: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #026aa7;
}

.weather-info {
    margin-top: 20px;
}

#weather-icon {
    width: 80px;
    margin: 10px 0;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .weather-container {
        width: 90%;
    }
}